.lista-gatos{
    color: rgb(255, 166, 0);
}

p {
    font-style: italic;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: 'Dancing Script', cursive;
}
 h1 {
    font-family: 'Dancing Script', cursive;
 }

 .imagenes {
    width: 300px;
    border-width: 5px;
    border-color: brown;
    border-style: solid dashed dotted double;
    margin: 20px 40px 20px 30px;
 }
 .gatos {
    border-radius: 50%;
 }
 div {
    background-color: grey;
 }
 #parrafo1 {
    font-size: 40px;
 }
 #container {
    background-color: blueviolet;
 }

 input[type="checkbox"] {
    margin: 20px;
 }

 body {
   background-color: brown;
 }